@import './common/vars.sass'
@import './common/gem.scss'
@import '../libs/owl/owl.carousel.min.css'

*
    box-sizing: border-box

html, body
    width: 100%

body,
main
    overflow-x: hidden

body
    display: flex
    flex-direction: column
    font-family: var(--main-font)
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    text-rendering: optimizeLegibility
    &.mobile-menu-open
        overflow: hidden
    &.modal-active
        overflow: hidden

main
    position: relative
    width: 100%
    flex: 1 0 auto

.footer
    width: 100%
    flex: 0 0 auto

a
    text-decoration: none
    outline: none

img
    max-width: 100%
    height: auto

section
    position: relative
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    // visibility: hidden

.fluid-container
    width: 100%
    position: relative

.container
    position: relative
    width: var(--container-width)
    min-width: var(--container-width)
    margin: 0 auto

.row
    display: flex
    flex-direction: row

.row-reverse
    display: flex
    flex-direction: row-reverse

.column
    display: flex
    flex-direction: column

.column-reverse
    display: flex
    flex-direction: column-reverse

.s-visible,
.xs-visible,
.xxs-visible
    display: none

.lazy
    opacity: 0
    transition: opacity 0.3s ease
    &Loaded
         opacity: 1
.opacity_none
    opacity: 0
input , textarea
    &::-webkit-input-placeholder,
    &::placeholder
        transition: all .3s
    &:focus
        &::-webkit-input-placeholder,
        &::placeholder
            color: transparent

button[type='submit']
    cursor: pointer

@media only screen and (max-width : 1024px)
    .s-hidden
        display: none

    .s-visible
        display: block

@media only screen and (max-width : 480px)

    body
        &.modal-active
            position: fixed

    .xxs-visible
        display: block

    .xxs-hidden
        display: none

//start here

body
    background-image: url(../img/main_bg.png)
    background-size: 100% 
    background-repeat: repeat

.button
    background: var(--color-orange)
    padding: gem(25) gem(52) gem(29) gem(50)
    // color: #151515

header
    position: fixed
    top: 0
    left: 0
    width: 100%
    .menu
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        margin: gem(40) 0
        a
            display: flex
            margin-right: gem(40)
            &:last-child
                margin-left: gem(75)
.main-photo
    position: absolute
    right: 0
    top: 0
    width: gem(768)
.hero
    &-contains
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: flex-start
        
        margin-top: gem(228)
        h1
            margin-bottom: gem(40)
        .subtitle
            margin-bottom: gem(40)
        p
            max-width: gem(737)
        a
            margin-top: gem(60)
        .labels
            margin-top: gem(190)
            display: flex
            img
                margin-right: gem(67)
                &:nth-child(1)
                    width: gem(190)
                &:nth-child(2)
                    width: gem(226)
            p
                max-width: gem(334)
        
.skils-carousel
    width: gem(1835)
    margin-left: gem(192)
    margin-top: gem(250)
    .owl-item
        padding: gem(20) 0

    .card
        width: gem(395)
        height: gem(180)
        background: var(--color-bgr-green-lite)
        box-shadow: 0px gem(4) gem(25) rgba(0, 43, 35, 0.5)
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
        padding: gem(33)
        img
            width: gem(114)
            margin-right: gem(40)